/* Contenedor padre que activa el sistema de rejilla (Grid) */
/* Usado por la etiqueta: <div class="contenedor-grid"> */
.contenedor-grid {
    display: grid;
    grid-template-columns: 50% 50%; /* Proporción 50/50  */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Estilo independiente para la columna de la izquierda line-up*/
.columna-izquierda {
    background-color: #ecf0f1; /* Color un poco más oscuro que el body */
    border: 1px solid #bdc3c7;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Permite que el zoom sea suave */
}

/* Estilo independiente para la columna de la derecha pocisiones del campo*/
.columna-derecha {
    background-color: #ecf0f1; /* Color un poco más oscuro que el body */
    border: 1px solid #bdc3c7;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Permite que el zoom sea suave */
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.columna-derecha-egreso{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Efecto de zoom al pasar el mouse por encima de los bloques (Grips) */
.columna-izquierda:hover, .columna-derecha:hover {
    transform: scale(1.03); /* Pequeño zoom */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Sombra para resaltar el efecto */
    cursor: pointer;
}